/* 

--- 01 TYPOGRAPHY SYSTEM
	-FONT SIZE SYSTEM (px):
   14 / 16 / 18 / 20 / 28 / 32 / 52 / 98

  -FONT WEIGHTS:
   Medium - 500
   Bold - 700

  -LINE HEIGHTS:
   Default: 1
   Medium: 1.2

--- 02 COLOURS
    Orange:
    --orane-500: hsl(28, 100%, 52%)

    Blue: 
    --blue-500: hsl(233, 67%, 56%)
    --blue-700: hsl(248, 70%, 36%)
		
   Neutral: 
    --neutral-900: hsl(243, 96%, 9%)
    --neutral-800: hsl(243, 27%, 20%)
    --neutral-700: hsl(243, 23%, 24%)
    --neutral-600: hsl(243, 23%, 30%)
    --neutral-300: hsl(240, 6%, 70%)
    --neutral-200: hsl(250, 6%, 84%)
    --neutral-0: hsl(0, 0%, 100%)
  
--- 07 WHITESPACE
  -SPACING SYSTEM (px):
   0 / 2 / 4 / 6 / 8 / 10 / 12 / 16 / 20 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 112 / 128 / 140
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--orane-500: hsl(28, 100%, 52%);

	--blue-500: hsl(233, 67%, 56%);
	--blue-700: hsl(248, 70%, 36%);

	--neutral-900: hsl(243, 96%, 9%);
	--neutral-800: hsl(243, 27%, 20%);
	--neutral-700: hsl(243, 23%, 24%);
	--neutral-600: hsl(243, 23%, 30%);
	--neutral-300: hsl(240, 6%, 70%);
	--neutral-200: hsl(250, 6%, 84%);
	--neutral-0: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	background-color: var(--neutral-900);
	color: var(--neutral-0);
}

li {
	list-style: none;
}

/* CONTAINER */
.container {
	display: flex;
	flex-direction: column;
	gap: 6.4rem;
	padding: 4.8rem 11.2rem 8rem 11.2rem;
	margin: 0 auto;
	max-width: 144rem;
}

.title {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.2;
	color: var(--neutral-0);
	text-align: center;
}

/* NAV BAR */
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-logo {
	height: 4rem;
}

.item {
	text-decoration: none;
	display: flex;
	gap: 1rem;
	padding: 1.2rem 1.6rem;
	background-color: var(--neutral-800);
	border-radius: 8px;
}

.item:hover {
	background-color: var(--neutral-700);
}

.item:focus {
	outline: 3px solid var(--neutral-0);
	outline-offset: 5px;
}

.icon-units {
	height: 1.6rem;
	width: 1.6rem;
}

.item-title {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.2;
	color: var(--neutral-0);
}

.icon-dropdown {
	width: 1.2rem;
	height: 1.8rem;
}

/* MAIN CONTENT CONTAINER*/
.main-content-container {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
}

/* SEARCH CONTENT CONTAINER */
.search-form {
	display: flex;
	gap: 1.6rem;
	align-items: center;
	justify-content: center;
}

input[type='text'] {
	background-color: var(--neutral-800);
	padding: 1.6rem 4rem;
	width: 52.6rem;
	border-radius: 12px;
	border: none;
	color: var(--neutral-0);

	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.2;

	background-image: url(../assets/images/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 10px 17px;
}

input[type='text']:hover {
	background-color: var(--neutral-700);
	cursor: pointer;
}

input[type='text']:focus {
	outline: 3px solid var(--neutral-0);
	outline-offset: 5px; /* creates the gap */
}

.btn {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.2;
	padding: 1.6rem 2.4rem;
	border-radius: 12px;
	background-color: var(--blue-500);
	color: var(--neutral-0);
	border: none;
}

.btn:hover {
	cursor: pointer;
	background-color: var(--blue-700);
}

.btn:focus {
	outline: 3px solid var(--blue-500);
	outline-offset: 5px; /* creates the gap */
}

.content-container {
	display: grid;
	grid-template-columns: 2fr 1fr;

	gap: 3.2rem;
	align-items: start;
}

.left-content-container {
	display: grid;
	grid-template-rows: 2fr 1fr;
	gap: 4.8rem;
	height: 100%;
}

/* WEATHER INFO CONTAINER */
.weather-info-container {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
}

.weather-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8rem 2.4rem;
	border-radius: 20px;
	background: linear-gradient(
		to bottom right,
		var(--blue-500),
		var(--blue-700)
	);
}

.location-info {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.location-text {
	color: var(--neutral-0);
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 1.2;
}

.date-text {
	color: var(--neutral-0);
	font-family: 'DM Sans';
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.2;
	opacity: 0.8;
}

.temperature-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.temperature-icon {
	width: 12rem;
	height: 12rem;
}

.temperature-text {
	color: var(--neutral-0);
	font-family: 'DM Sans', sans-serif;
	font-size: 9.6rem;
	line-height: 1;
	font-weight: 600;
	font-style: italic;
	letter-spacing: -2px;
}

.weather-details {
	display: flex;
	gap: 2.4rem;
}

.detail {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	padding: 2rem;
	background-color: var(--neutral-800);
	border: 1px solid var(--neutral-600);
	border-radius: 12px;
	width: 100%;
}

.detail-title {
	color: var(--neutral-0);
	font-family: 'DM Sans';
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.2;
}

.detail-text {
	color: var(--neutral-0);
	font-family: 'DM Sans', sans-serif;
	font-weight: 300;
	font-size: 3.2rem;
	line-height: 1;
}

/* DAILY FORECAST CONTAINER */
.daily-forecast-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* gap: 2rem; */
	/* height: max-content; */
}

.daily-forecast-title {
	color: var(--neutral-0);
	font-family: 'DM Sans', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.2;
}

.daily-forecast {
	display: flex;
	gap: 1.6rem;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	text-align: center;
	padding: 1.6rem 1rem;
	background-color: var(--neutral-800);
	border: 1px solid var(--neutral-600);
	border-radius: 12px;
	width: 100%;
}

.day {
	color: var(--neutral-0);
	font-size: 1.8rem;
	font-family: 'DM Sans', sans-serif;
	line-height: 1.2;
	font-weight: 600;
}

.weather-icon {
	height: 6rem;
	width: 6rem;
	margin: 0 auto;
}

.temperature-range {
	display: flex;
	justify-content: space-between;
}

.temperature {
	color: var(--neutral-0);
	font-size: 1.6rem;
	font-weight: 500;
	font-family: 'DM Sans', sans-serif;
	line-height: 1.2;
}

/* HOURLY FORECAST CONTAINER */
.hourly-forecast-container {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	padding: 2.4rem;
	border-radius: 20px;
	background-color: var(--neutral-800);
	height: 100%;
}

.hourly-forecast-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hourly-forecast-title {
	color: var(--neutral-0);
	font-family: 'DM Sans', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.2;
}

.forecast-item {
	text-decoration: none;
	display: flex;
	gap: 1.2rem;
	padding: 0.8rem 1.6rem;
	background-color: var(--neutral-600);
	border-radius: 8px;
}

.forecast-item:focus {
	outline: 3px solid var(--neutral-0);
	outline-offset: 5px;
}

.forecast-title {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.2;
	color: var(--neutral-0);
}

.hourly-weather-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--neutral-700);
	padding: 1rem 1.6rem 1rem 1.2rem;
	border-radius: 8px;
	border: 1px solid var(--neutral-600);
}

.hourly-forecast-time {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.forecast-weather-icon {
	height: 4rem;
	width: 4rem;
}

.forecast-time {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.2;
	color: var(--neutral-0);
}

/* - Mobile: 375px
- Desktop: 1440px */
